{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}



<main>
    <h1>Les Saveurs de Savoie</h1>
    <p>En construction ...</p>
    <img src="{{asset('img/chantier-construction.jpg')}}">

</main>


{% endblock %}