{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Acceuil{% endblock %}

{% block body %}
<main>
    <h1>Les Saveurs De Savoie</h1>
    <img src="{{asset('build/img/chantier-construction.jpg')}}" alt="image chantier en construction">
    <test-component></test-component>
</main>
{% endblock %}