@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato&display=swap');

h1 {
    font-family: 'Great Vibes', cursive;
    color: #ff679a;
}

.main-content {
    background-color: #0e0008;
}

.sidebar {
    background-color: #0e0008;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    color: #b1849d;
}

a.btn.btn-primary {
    background-color: #b1849d;
    transition: all 0.2s ease-in-out;
}

a.btn.btn-primary:hover {
    background-color: #ff679a !important;
}

.main-header #header-logo .logo-custom {
    color: #ff679a;
}

#main-menu .menu .menu-item-contents .menu-item-label {
    color: #b1849d;
}

#main-menu .menu .menu-icon {
    color: #ff679a;
}

#main-menu .menu .menu-item.active {
    background-color: #523c48;
}

#main-menu .menu .menu-item.active:not(.expanded) .menu-icon,
#main-menu .menu .menu-item.active:not(.expanded) a {
    color: #b1849d;
}

#main-menu .menu .menu-item.active:not(.expanded) .menu-icon,
#main-menu .menu .menu-item.active:not(.expanded) a .menu-item-label {
    color: #ff679a;
}

.datagrid thead a,
.datagrid thead span {
    color: #ff679a;
}

.fa-sort:before,
.fa-unsorted:before {
    color: #523c48;
}

.user-menu-wrapper .user-details .user-name {
    color: #b1849d;
}

.fa-cog:before,
.fa-gear:before {
    color: #b1849d;
}

.user-menu-wrapper span.user-avatar .user-avatar-icon-foreground {
    color: #b1849d;
}

.datagrid thead + tbody tr td a {
    color: #b1849d;
}

.page-item.active .page-link,
.page-item.active .page-link:hover {
    background-color: #b1849d;
    border: 1px solid #b1849d;
}

.content-header .page-actions .btn + .btn {
    background-color: #b1849d;
    transition: all 0.2s ease-in-out;
}

.content-header .page-actions .btn + .btn:hover {
    background-color: #ff679a !important;
}

.ea-dark-scheme .form-switch .form-check-input:checked,
.form-switch .form-check-input:checked {
    background-color: #ff679a;
    border: 1px solid #ff679a;
}

.dashboard-title {
    text-align: center;
    margin: 3rem;
}

.dashboard-users {
    text-align: center;
    font-family: 'Lato', cursive;
    color: #babcc9;
}

.datagrid thead .sorted a,
.datagrid thead .sorted span {
    color: #b1849d;
}

.datagrid thead .sorted i {
    color: #b1849d;
}

.datagrid thead .sorted {
    box-shadow: inset 0 -2px 0 #b1849d;
}

.bookings-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.bookings-item {
    display: flex;
    flex-direction: column;
    background-color: #523c48;
    padding: 1rem;
    border-radius: 10px;
    margin: 3rem;
}

.booking-nb-personnes {
    margin-left: 1rem;
    font-size: 1rem;
}

.booking-item {
    display: flex;
    flex-direction: column;
    background-color: #b1849d;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 1em;
}

.booking-item-date-nb {
    display: flex;
    align-items: center;
}


.booking-item p {
    margin-bottom: 0.1rem;
}

.booking-item-email {
    color: #0e0008;
}

.booking-item-allergy {
    color: #babcc9;
}