.banniere {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

h1 {
    margin-top: -18rem;
    font-size: 12rem;
    text-align: center;
    max-width: 60rem;
}

h4 {
    margin-top: 8rem;
    font-size: 2rem;
    text-align: center;
    font-family: $textFont;
    color: $colorFlashy;
}

@media (min-aspect-ratio: 16/9) {
    .banniere__video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .banniere__video {
        width: auto;
        height: 100%;
    }
}

// ================= MEDIA QUERY (TABLETTE)  >= 501PX  <= 889px =========================
@media screen and (min-width: 501px) and (max-width: 889px) {
    h1 {
        font-size: 8rem;
        max-width: 70%;
    }

    h4 {
        font-size: 2rem;
    }
}
