@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato&display=swap');

$colorFlashy: #dc8cba;
$colorPrimary: #592442;
$colorSecondary: #b1849d;
$colorFird: #d8b8ca;
$colorLightGrey: #f0f2ff;
$colorDarkGrey: #0e0008;
$colorWhite: #ffffff;

$titleFont: 'Great Vibes', cursive;
$textFont: 'Lato', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*  border: 1px solid red;  */   
}

%flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin title($color, $colorUnderligne) {
    font-family: $titleFont;
    font-size: 5rem;
    color: $color;
    border-bottom: 1px solid $colorUnderligne;
}

@mixin footerText {
    font-family: $textFont;
    font-size: 1.2rem;
    color: $colorFird;
}
