@import url('./_config.scss');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #243036;
    color: rgb(236, 217, 217);
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 5rem;
    color: #ffffff;
    font-family: 'Great Vibes', cursive;
    font-weight: 300;
}


img {
    width: 70vw;
    max-width: 800px;
    margin-top: 3rem;
}

.test {
    font-size: 2rem;
    color: rgb(156, 162, 192);
    margin-top: 2rem;
    font-family: 'Lato', sans-serif;
}
