{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Mentions légales{% endblock %}

{% block body %}
<main class="login" data-aos="fade-in">

    <a href="/" class="icon-block"><svg fill="#ff679a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
                d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
        </svg></a>

    <div class="login__block mentions__block">


        <h1 class="login__block--title">Mentions légales</h1>


        <h5>En vigueur au 29/09/2020</h5>

        <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie
            numérique, il est précisé aux utilisateurs du site Les Saveurs De Savoie l'identité des différents
            intervenants dans le cadre de sa réalisation et de son suivi.</p>

        <h3>Edition du site :</h3>
        <p>L’édition et la direction de la publication du site https://lessaveursdesavoie.fr.nf/ est assurée par
            Christophe
            THEVENET, dont l’adresse email est : christophethevenet2.0@gmail.com
        </p>
        <h3>Hébergement :</h3>
        <p>Le Site est hébergé par la société O2Switch, situé 222 Boulevard Gustave Flaubert, 63000 Clermont-Ferrand,
            (contact téléphonique ou email : (+33) 4 44 44 60 40).

        </p>
        <h3>Accès au site :</h3>
        <p>Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou
            non et
            pouvant découlant d’une nécessité de maintenance.
            En cas de modification, interruption ou suspension des services le site https://lessaveursdesavoie.fr.nf/ ne
            saurait
            être tenu responsable.
        </p>
        <h3>Collecte des données :</h3>
        <p>Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée conformément au Règlement
            Général sur la Protection des Données 2016/679 du 27 avril 2016 («RGPD»).
        </p>
        <h3>Cookies :</h3>
        <p>L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement
            sur son
            logiciel de navigation.
            En naviguant sur le site, il les accepte. Un cookie est un élément qui ne permet pas d’identifier
            l’Utilisateur mais
            sert à enregistrer des informations
            relatives à la navigation de celui-ci sur le site Internet. L’Utilisateur pourra désactiver ce cookie par
            l’intermédiaire des paramètres figurant au sein de son logiciel de navigation.
        </p>
        <h3>Propriété intellectuelle :</h3>
        <p>Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site
            https://lessaveursdesavoie.fr.nf/ , sans autorisation de l’Editeur est prohibée et pourra entraînée des
            actions
            et
            poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle
            et le Code civil.
        </p>




    </div>
</main>

{% endblock %}