.banniereMenu {
    background-image: url('../../images/banniere-menus-blur.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
    @extend %flex-centered;
    flex-direction: column;

    &__name__icon {
        display: flex;
        margin-bottom: 8rem;

        &--title {
            @include title($colorFlashy, $colorSecondary);
            font-size: 10rem;

            margin-right: 2rem;
        }
    }

    &__jingle {
        font-family: $textFont;
        font-size: 1.4rem;
        color: $colorLightGrey;
        text-align: justify;
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .banniereMenu__name__icon {
        &--title {
            font-size: 6rem;
        }

        svg {
            width: 40pt;
        }
    }

    .banniereMenu__jingle {
        width: 100%;
        padding: 10%;
    }
}
