.carte {
    width: 100%;
    

    article {
        min-height: 100vh;
    }

    &__block {
        display: flex;

        &__text {
            @extend %flex-centered;
            flex-direction: column;
            flex: 1;
            padding: 3rem 0rem;

            h2 {
                font-family: $titleFont;
                font-size: 5rem;
            }

            ul li {
                font-size: 1.3rem;

                margin: 3rem 0;

                span {
                    font-family: $titleFont;
                    font-size: 1.9rem;
                }
            }
        }

        &__image {
            flex: 1;
        }
    }
}
// ----------------- personnalisation entrées -----------------
.entries__text {
    background-color: $colorPrimary;

    ul li span {
        color: $colorSecondary;
    }
}
// ----------------- personnalisation plats -----------------

.dishes__text {
    background-color: $colorLightGrey;

    h2,
    ul li {
        color: $colorDarkGrey;

        span {
            color: $colorFird;
        }
    }
}
// ----------------- personnalisation desserts -----------------

.desserts__text {
    background-color: $colorPrimary;

    ul li span {
        color: $colorSecondary;
    }
}

.banniereCarte {
    background-image: url('../../images/banniere-carte-blur.jpg');
}


@media screen and (max-width: 889px) {
    .carte__block {
        h2 {
            font-size: 4rem;
        }

        svg {
            width: 80pt;
        }


        &__image {
            display: none;
        }
    }
}